
main {
  color: rgb(223, 240, 236);
  text-align: center;
  background: linear-gradient(#7585cf, #5671e9,#3251dd,#2e4dd8, #3251dd ) ;
  a:link { color: rgb(17, 16, 16) } /* unvisited link */
  a:visited { color: rgb(82, 59, 59); } /* visited link */
  a:hover { color: rgb(29, 24, 24); } /* mouse over link */
  a:active { color: rgb(82, 76, 76); } /* selected link */

}

body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0 5%;
    color: #333;
    text-align: center;
}


header h1 {
  margin: 0;
}
  

header p {
  margin: 0.5rem 0;
}

section {
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.section {
  margin-bottom: 20px;
}


  h1 {
    color: #333;
    text-align: center;
    font-size: xx-large;
  }

  h2 {
    color: #333;
    text-align: center;
    font-size: x-large;
  }

  
  h5 {
    color: #333;
    text-align: center;
    font-size: small;  
    padding-left: 100px;
    padding-right: 100px;
    padding: 10px;
    margin-top: -.17%;
  }

  h6 {
    font-size: x-small;
  }

  .course-list {
    list-style-type: none;
    padding: 0;
}
.course-list li {
    margin-bottom: 5px;
}

  p {
    color: #666;
    line-height: 1.6;
  }

  ul {
    list-style-type: none;
    padding: 0;
}

li {
  line-height: 2.0;
}

ul li {
    background: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

.job {
    background: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
}
  
  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }


  footer {
    color: rgb(223, 240, 236);
    text-align: center;
    background: linear-gradient(#7585cf, #5671e9,#3251dd,#2e4dd8, #3251dd ) ;
    a:link { color: rgb(34, 33, 33) } /* unvisited link */
    a:visited { color: rgb(20, 14, 14); } /* visited link */
    a:hover { color: rgb(26, 18, 18); } /* mouse over link */
    a:active { color: rgb(17, 16, 16); } /* selected link */

  }